<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone Context</title>
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"/>

    <style>

        ul.ui-autocomplete
        {
            list-style: none;
            width:210px;
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            color: #555555;
            font-size: 13px;
            line-height: 18px;
            padding: 4px;
            

        }

    </style>

</head>
<body>


    <div class="container">

        <div class="row">
            <div class="span12">
                <form class="well form-inline">
                    <label class="checkbox">Target Country</label>
                    <input id="birds" type="text" class="input-large" placeholder="Country" />
                    <label class="checkbox">Since Date</label>
                    <input type="text" id="datepicker" class="input-small"/>
                    <label class="checkbox">Facebook format:</label>
                    <span id="since" class="input-xlarge uneditable-input"></span>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="spinner" style="height:80px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Message</th>
                      <th>Attachment</th>
                    </tr>
                  </thead>
                  <tbody id="market-data">
                   
                  </tbody>
                </table>
            </div>
        </div>

    </div>

    <script type="text/template" id="market-data-template">

        <% for(var i = 0; i<data.length; i++) { var item = data[i]; var d = new Date(item.updated_time * 1000); %>
            <tr>
                <td>
                    <%= d.getDate() %>/<%=(d.getMonth() + 1)%>/<%=d.getYear()%>
                    <br/>
                    <%= d.getHours() %>:<%=d.getMinutes()%>
                    <br/>
                    <%= item.created_time %>
                </td>
                <td><%= item.type %></td> 
                <td><%= item.message %></td>
                <td>
                    <% switch(item.type) {
                        case "photo":
                    %>
                        <img style="width:120px; height:auto" src="<%= item.picture %>"/>
                    <%    
                        break;
                        case "swf":
                    %>
                        <img style="width:120px; height:auto" src="<%= item.picture %>"/>
                    <% 
                        break;
                        default:
                    %>  
                        No data
                    <% 
                        break;
                        } 
                    %>
                </td>
            </tr>
        <% } %>

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.19/jquery-ui.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript" src="http://fgnass.github.com/spin.js/dist/spin.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="social-mixin.js"></script>
    <script src="FeedCollection.js"></script>

    <style>
    .ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>
    <script>
    $(function() {


        var details = {actorId:"128827277157119",accessToken:"AAADD5bstFV0BAKDemvloilkLnhbrNqXXPjAazTm6HP6AedekaN036NZB8Ve4ONSHQQAflwmaMIf7fgi3LunIu8AB6dEI6IMJnapGW8AZDZD"};

        var feedy = new FeedModel(details);
        


        
        window.Feed = feedy;

        window.AltFeed = new FeedCollection(details);


        if(window.location.search.indexOf("appInstall") > -1){
            var el = document.createElement("img");
            el.setAttribute("height", "1");
            el.setAttribute("width", "1");
            el.setAttribute("alt", "Mediaplex_tag");
            el.setAttribute("src", "//altfarm.mediaplex.com/ad/bk/19547-138995-3840-0?App_install=1&amp;mpuid=" + Math.floor(Math.random() * 1000));
            document.getElementsByTagName("body")[0].appendChild(el);
        }   


        var MarketDataView = Backbone.View.extend({

            initialize:function(){
                this.model.bind("reset", this.render, this);
            },

            render:function(){
                $("#spinner").hide();
                var tmp = this.options.template;
                var data = this.model.toJSON();
                this.el.innerHTML = _.template(tmp, {data:data});
            }

        });

        var spinner = new Spinner({}).spin($("#spinner")[0]);
        $("#spinner").hide();

        var listView = new MarketDataView({model:feedy, el:$("#market-data"), template:$("#market-data-template").html()});



        $( "#datepicker" ).datepicker({
            onClose: function(dateText, inst) { 
                var d  = new Date(dateText);
                var tstr = d.getTime() / 1000;
                $("#since").text("since="+tstr);
                
            }
        });


        var countries = ["Romania","Portugal","Spain","Austria","France","Ireland","Germany","Poland","Russia","United Kingdom","Netherlands","Belgium","Switzerland","Bulgaria","Croatia","Slovakia","Brazil","New Caledonia", "Public"];


        $( "#birds" ).autocomplete({
            source: countries,
            minLength: 0,
            select: function( event, ui ) {
                if(ui.item){
                    feedy.setSelectedMarket(ui.item.value);
                    feedy.fetch();
                    $("#spinner").show();
                }
            }
        });








    });
    </script>

    <script type="text/javascript">

        $(function(){


            var MainContext = function() {};

            _.extend(MainContext.prototype, Backbone.Events, {
                hash:{},

                getItem:function(id){
                    return this.hash[id];
                },

                storeItem:function(id, value){
                    this.hash[id] = value;
                }

            });


            var context = new MainContext();

            var AppController = function(con){
                this.cxt = con;
                this.initialize();
            };

            _.extend(AppController.prototype, {

                cxt:{},

                handleWelcome:function(){
                    console.log("handle welcome", this.cxt);
                },

                handleIntro:function(params){
                    console.log("handle intro", params);
                },

                initialize:function(){

                    var rt = this.events;

                    for(var p in rt)
                    {
                        this.cxt.bind(p, this[rt[p]], this);
                    }
                },

                events:{
                    "onWelcome":"handleWelcome",
                    "onIntro":"handleIntro"

                }


            });

            
            var controller = new AppController(context);


            context.trigger("onWelcome");
            context.trigger("onIntro", "hi there");



        });



    </script>

</body>
</html>